<a href="https://colab.research.google.com/github/shubhamL2477/AI-SEM3/blob/main/worksheet3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Titanic-Dataset.csv to Titanic-Dataset (1).csv

In [ ]:
titanic = pd.read_csv('Titanic-Dataset.csv')

 Task 1: Create DataFrame with only Fare column

In [ ]:
fare = titanic[['Fare']]
print(fare.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

Task 2: Create DataFrame with Pclass and Age columns

In [ ]:
class_age = titanic[['Pclass', 'Age']]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Task 3: Create DataFrame with Survived and Sex columns

In [ ]:
survived_gender = titanic[['Survived', 'Sex']]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

PROBLEM 2: SUBSETTING

Task 1: Filter for fare > 100

In [ ]:
fare_gt_100 = titanic[titanic['Fare'] > 100]
print(f"Number of passengers: {len(fare_gt_100)}")
print(fare_gt_100.head())

Number of passengers: 53
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

Task 2: Filter for Pclass = 1 (First Class)

In [ ]:
first_class = titanic[titanic['Pclass'] == 1]
print(f"Number of passengers: {len(first_class)}")
print(first_class.head())

Number of passengers: 216
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

Task 3: Filter for Age < 18 AND Sex = 'female'

In [ ]:
female_under_18 = titanic[(titanic['Age'] < 18) & (titanic['Sex'] == 'female')]
print(f"Number of passengers: {len(female_under_18)}")
print(female_under_18.head())

Number of passengers: 55
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

Subsetting Rows by Categorical Variables

Task 1: Filter for Embarked = 'C' or 'S'

In [ ]:
embarked_c_or_s = titanic[titanic['Embarked'].isin(['C', 'S'])]
print(f"Number of passengers: {len(embarked_c_or_s)}")
print(embarked_c_or_s.head())

Number of passengers: 812
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Task 2: Filter for Pclass in [1, 2]

In [ ]:
first_second_class = titanic[titanic['Pclass'].isin([1, 2])]
print(f"Number of passengers: {len(first_second_class)}")
print(first_second_class.head())

Number of passengers: 400
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

SECTION 3.2: EXPLORATORY DATA ANALYSIS PRACTICE

Which passenger had the highest fare paid relative to their age?

In [ ]:

print("\n--- Step 1: Adding fare_per_year column ---")
titanic['fare_per_year'] = titanic['Fare'] / titanic['Age']
print("✓ fare_per_year column added")
print(titanic[['Name', 'Fare', 'Age', 'fare_per_year']].head())


print("\n--- Step 2: Filtering fare_per_year > 5 ---")
high_fare_age = titanic[titanic['fare_per_year'] > 5]
print(f"Number of passengers: {len(high_fare_age)}")


print("\n--- Step 3: Sorting by fare_per_year (descending) ---")
high_fare_age_srt = high_fare_age.sort_values('fare_per_year', ascending=False)
print("✓ Sorted successfully")


print("\n--- Step 4: Selecting Name and fare_per_year columns ---")
result = high_fare_age_srt[['Name', 'fare_per_year']]


print("\n--- Step 5: RESULT - Top 10 Passengers with Highest Fare per Year ---")
print(result.head(10))

print(" ANSWER:")
top_passenger = result.iloc[0]
print(f"   Passenger: {top_passenger['Name']}")
print(f"   Fare per Year: ${top_passenger['fare_per_year']:.2f}")

--- Step 1: Adding fare_per_year column ---
✓ fare_per_year column added
                                                Name     Fare   Age  \
0                            Braund, Mr. Owen Harris   7.2500  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  71.2833  38.0
2                             Heikkinen, Miss. Laina   7.9250  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  53.1000  35.0
4                           Allen, Mr. William Henry   8.0500  35.0

   fare_per_year
0       0.329545
1       1.875876
2       0.304808
3       1.517143
4       0.230000

--- Step 2: Filtering fare_per_year > 5 ---
Number of passengers: 68

--- Step 3: Sorting by fare_per_year (descending) ---
✓ Sorted successfully

--- Step 4: Selecting Name and fare_per_year columns ---

--- Step 5: RESULT - Top 10 Passengers with Highest Fare per Year ---
                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000
827            Mallet, Master. Andre      37.004200
78     Caldwell, Master. Alden Gates      34.939759
469    Baclini, Miss. Helene Barbara      25.677733
644           Baclini, Miss. Eugenie      25.677733
831  Richards, Master. George Sibley      22.590361
 ANSWER:
   Passenger: Allison, Master. Hudson Trevor
   Fare per Year: $164.73

Which adult male paid highest fare relative to their class?

In [ ]:


# Step 1: Add fare_per_class column (Fare / Pclass)
print("\n--- Step 1: Adding fare_per_class column ---")
titanic['fare_per_class'] = titanic['Fare'] / titanic['Pclass']
print("✓ fare_per_class column added")
print(titanic[['Name', 'Fare', 'Pclass', 'fare_per_class']].head())

# Step 2: Subset for male adults (Age >= 18 and Sex = 'male')
print("\n--- Step 2: Filtering for Adult Males (Age >= 18 and Sex = 'male') ---")
adult_males = titanic[(titanic['Sex'] == 'male') & (titanic['Age'] >= 18)]
print(f"Number of adult male passengers: {len(adult_males)}")

# Step 3: Sort by descending fare_per_class
print("\n--- Step 3: Sorting by fare_per_class (descending) ---")
adult_males_srt = adult_males.sort_values('fare_per_class', ascending=False)
print("✓ Sorted successfully")

# Step 4: Select only Name, Age, and fare_per_class columns
print("\n--- Step 4: Selecting Name, Age, and fare_per_class columns ---")
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]

# Step 5: Look at the result
print("\n--- Step 5: RESULT - Top 10 Adult Males with Highest Fare per Class ---")
print(result.head(10))

print("\n✓ ANSWER:")
top_male = result.iloc[0]
print(f"   Passenger: {top_male['Name']}")
print(f"   Age: {top_male['Age']:.0f}")
print(f"   Fare per Class: ${top_male['fare_per_class']:.2f}")

--- Step 1: Adding fare_per_class column ---
✓ fare_per_class column added
                                                Name     Fare  Pclass  \
0                            Braund, Mr. Owen Harris   7.2500       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  71.2833       1
2                             Heikkinen, Miss. Laina   7.9250       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  53.1000       1
4                           Allen, Mr. William Henry   8.0500       3

   fare_per_class
0        2.416667
1       71.283300
2        2.641667
3       53.100000
4        2.683333

--- Step 2: Filtering for Adult Males (Age >= 18 and Sex = 'male') ---
Number of adult male passengers: 395

--- Step 3: Sorting by fare_per_class (descending) ---
✓ Sorted successfully

--- Step 4: Selecting Name, Age, and fare_per_class columns ---

--- Step 5: RESULT - Top 10 Adult Males with Highest Fare per Class ---
                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
377           Widener, Mr. Harry Elkins  27.0        211.5000
332           Graham, Mr. George Edward  38.0        153.4625
373                 Ringhini, Mr. Sante  22.0        135.6333
660       Frauenthal, Dr. Henry William  50.0        133.6500
390          Carter, Mr. William Ernest  36.0        120.0000

✓ ANSWER:
   Passenger: Lesurer, Mr. Gustave J
   Age: 35
   Fare per Class: $512.33